:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
ol li, ul li{
  list-style-type: none;
}
#root{
    max-width: 100%;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.toggleWrapper {
  width: 100px;
  height: 30px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 50px;
  position: relative;
  background: rgb(6, 6, 43);
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
}

.toggleWrapper::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: 0.3s;
}

.toggleWrapper.active {
  background: #4caf50;
  border-color: #4caf50;
}

.toggleWrapper.active::after {
  left: calc(100% - 45px);
}

.toggleDefault {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

/* product counter */

.productWrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn {
  font-size: 16px;
  background: #333;
  padding: 5px 12px;
}
.countText {
  font-size: 20px;
  width: 25px;
}

/* Todo CSS */
.todoContainer {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 1000px;
  min-height: 500px;
  margin: auto;
  position: relative;
}
.todoWrapper {
  margin: 60px 0;
}
.todoForm {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}
.todoForm input {
  background-color: transparent;
  border-style: none;
  border: 1px solid #333;
  padding: 5px 5px 5px 7px;
  max-width: 400px;
  width: 100%;
  border-radius: 3px;
  color: #000;
  caret-color: #000;
  font-size: 15px;
  font-weight: 400;
}
.todoBtn {
  max-width: 130px;
  width: 100%;
  transition: 0.3s;
  border-radius: 5px;
}
.todoBtn:hover {
  background-color: #eee;
  border-color: #333;
  color: #000;
}
.todoOutput {
  width: 820px;
  margin: 20px auto 10px auto;
  padding-left: 0;
  max-height: 380px;
  overflow-y: auto;
}
.todoOutput li {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.todoClear {
  position: absolute;
  bottom: 20px;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.todoAdded {
  display: flex;
  align-items: center;
  gap: 5px;
}
.todoAdded input {
  width: 17px;
  height: 17px;
}
.todoAdded span {
  font-size: 18px;
}
.todoOutput button {
  background-color: transparent;
  color: #000;
}
.todoOutput button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

/* EyeToggle */
.eyeContainer {
  width: 500px;
}
.eyeWrapper,
.eyeinputWrapper {
  width: 100%;
  text-align: left;
}
.eyeWrapper form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.eyeinputWrapper label {
  font-size: 16px;
}
.eyeWrapper form input {
  width: calc(100% - 16px);
  padding: 7px 5px 7px 7px;
  margin-top: 6px;
  background-color: transparent;
  color: #000;
  border-style: none;
  border: 1px solid #333;
  border-radius: 3px;
}
.eyeinputWrapper {
  margin-bottom: 30px;
}
.eyeWrapper form button {
  width: 100%;
}
/* .eyeFormBtn {
} */
.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordWrapper input {
    width: 100%;
    padding-right: 45px;
}

.eyeIcon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeIcon img {
    width: 20px;
    height: 20px;
}

/* recipe css */
.recipeContainer {
    display: flex;
    /* max-width: 1160px; */
    width: 100%;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
}

.recipeCard {
    max-width: 240px;
    width: 100%;
    background: #eeeeee91;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    height: stretch;
}
.recipeCard img{
    max-width: 240px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
}
.recipeCard ul{
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.tagsList li{
  font-size: 13px;
  color: #fff;
  background-color: #213547;
  border-radius: 3px;
  padding: 3px 6px;
}
.productDescList {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.productImg{
  max-width: 500px;
  width: 40%;
}
.productImg img{
  width: 100%;
}
.productCt{
  width: 60%;
  text-align: left;
}

/* AutoCounter css */
body{
  justify-content: center;
}
.AutoCountContainer {
  width: 620px;
    display: flex;
  justify-content: space-between;
}
.AutoCountContainer h2{
  font-size: 18px;
}
.AutoCountContainer h3{
  font-size: 21px;
  margin-block: 0;
}